@import './../../global-styles.scss';

.Navbar {
    background-color: $primary-green;
    height: 80px;
    display: flex;
    align-items: center;

    .Logo {
        margin-left: 16px;
        display: flex;

        img {
            height: 50px;
            width: auto;
        }
    }

    @include lg {
        height: 100px;
        .Logo {
            margin-left: 24px;
            img {
                height: 64px;
            }
        }
    }
}