@import './../../global-styles.scss';

$navbar-small-height: 80px;
$navbar-big-height: 120px;

.Navbar {
    background-color: $primary-green;
    height: $navbar-small-height;
    display: flex;
    align-items: center;

    .Logo {
        margin-left: 16px;
        display: flex;

        img {
            height: 50px;
            width: auto;
        }
    }

    @include lg {
        height: $navbar-big-height;
        .Logo {
            margin-left: 30px;
            img {
                height: 64px;
            }
        }
    }
}