@import './../../global-styles.scss';

.Join {
    width: 90%;
    height: 70%;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    button {
        background-color: $color-bg;
        font-size: 2em;
        letter-spacing: 3px;
        border-radius: 20px;
        border: 1px solid $primary-green;
        box-shadow: 6px 6px 0px $primary-green;
        opacity: 0.8;
    }
    button:hover {
        opacity: 0.9;
        cursor: pointer;
    }
    .newTalkButton {
        height: 90px;
        width: 80%;
    }
    .joinTalkButton {
        height: 70px;
        width: 60%;
    }

    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    // from https://codepen.io/thebabydino/pen/mRrPwB
    $char-w: 1ch;
    $gap: 1*$char-w;
    $n-char: 4;
    $in-w: $n-char*($char-w + $gap);

    input {
        display: block;
        color: $text-color;
        margin-bottom: 1em;
        margin-left: 0.4em;
        border: none;
        padding: 0;
        width: $in-w;
        background: repeating-linear-gradient(90deg, 
            dimgrey 0, dimgrey $char-w, 
            transparent 0, transparent $char-w + $gap) 
            0 100%/ #{$in-w - $gap} 2px no-repeat;
        font: 5ch droid sans mono, consolas, monospace;
        letter-spacing: $gap;
	
	&:focus {
		outline: none;
		color: $text-color;
	}
}

    @include md {
        width: 60%;
    }
    @include md {
        width: 50%;
    }
    @include lg {
        width: 40%;
    }
    @include xl {
        width: 30%;
    }
}